.DS_Store

.vscode/launch.json

Week 6/Hugging Face/Task 2/__pycache__/*
Week 6/Hugging Face/Task 2/.env
Week 6/Hugging Face/Task 2/.chainlit/*
Week 6/Hugging Face/Final/__pycache__/*
Week 6/Hugging Face/Final/.env
Week 6/Hugging Face/Final/.chainlit/*

Week 8/Day 1/cache/*

Demo/.env
Demo/credentials.json

Demo/app_1/.env
Demo/app_1/credentials.json
Demo/app_1/.chainlit
Demo/app_1/__pycache__/*

Demo/app_2/.env
Demo/app_2/credentials.json
Demo/app_2/.chainlit
Demo/app_2/__pycache__/*