.DS_Store

Week 6/Hugging Face/Task 2/__pycache__/*
Week 6/Hugging Face/Task 2/.env
Week 6/Hugging Face/Task 2/.chainlit/*
Week 6/Hugging Face/Final/__pycache__/*
Week 6/Hugging Face/Final/.env
Week 6/Hugging Face/Final/.chainlit/*

Week 8/Day 1/cache/*

Demo/.env

